*{
    padding:0;
    margin:0;
    box-sizing: content-box;

}
.carousel-item{
    max-width:100%;
    height:auto;
}
.carousel-item h2{
   color:orange;
}
.carousel-item img{
    background-color: rgba(14, 0, 0, 0.1);
    /* position: absolute; */
}



#THEBEST{
    background-color: rgb(61, 61, 61);
    color: white;
}
#THEBEST span{
    color: orange;
}
#THEBEST h2{
    text-align: center;
    padding: 20px;
}
#THEBEST p{
    text-align: justify;
    margin: 10px;
    padding: 20px;
}


#second{
    color: white;
    height: auto;
    padding: 20px;
}
#second h3{
    color: black;
}