*{
    padding:0;
    margin:0;
    box-sizing: content-box;

}
#fixed{
    
}
.carousel-item{
    max-width:100%;
    height:auto;
}
.carousel-item h2{
   color:orange;
}




#THEBEST{
    background-color: rgb(61, 61, 61);
    color: white;
    height: auto;
}
#THEBEST span{
    color: orange;
}
#THEBEST h2{
    text-align: center;
    padding-top: 20px;
}
#THEBEST p{
    text-align: justify;
    margin: 10px;
    padding: 10px;
}


#second{
    color: white;
    height: 250px;
    padding: 20px;
}
#second h3{
    color: black;
}
/* #second span{
    border-color: brown;
    border: 5px soild red;
} */



