*{
    padding:0;
    margin:0;
    box-sizing: content-box;

}
#fixed{

}
.carousel-item{
    max-width:100%;
    height:auto;
}
.carousel-item h2{
   color:orange;
}




#THEBEST{
    background-image: url(https://th.bing.com/th/id/R.14b523fc92800922861d0dfbcd23999c?rik=%2fYRrneGiCizoFA&pid=ImgRaw&r=0);
    color: white;
    height: auto;
}
#THEBEST span{
    color: orange;
}
#THEBEST h2{
    text-align: center;
    padding-top: 20px;
}
#THEBEST p{
    text-align: justify;
    margin: 10px;
    padding: 10px;
}


#second{
    color: white;
    height: auto;
    /* padding: 20px; */
}
#second h3{
    color: black;
}




#install{
    background-color: orange;
    height: auto;
}
#install h3{
    text-align: center;
    padding-top:20px;
}
#install p{
    
}


